*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
h3{
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16pt;
    color: #0d0d0d;
    margin-bottom: 23px;
}
/*  
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;     
*/

header{

	width: 100%;
	min-height: 1100px;	
	background: url(../img/bg.png) no-repeat;
}
.top{
	display: flex;
	justify-content: center;
	width: 100%;
}
.logo{
	width: 7.7%;
	margin-top: 84px;
}
.menu{
	display: flex;
	justify-content: center;
	margin-left: 11%;
	width: 52.3%;
	align-items: center;
	color: #fff;
	margin-top: 84px;
	font-family: 'Open Sans', sans-serif;
}
.menu a{
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	margin-left: 2%;
	font-size: 1.3vw;
	cursor: pointer;
}
.menu a:hover{
	color: #000;
}
.menu p{
	font-weight: 600;
	font-size: 1.3vw;
	margin-left: 2%;
}

.h{
	margin-top: 225px;
	text-transform: uppercase;
	font-family: 'Open Sans',sans-serif;
	color: #fff;
	font-size: 3.5vw;
	font-weight: 300;
	display: flex;
	align-items: center;
	flex-direction:column;
}
.h h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 4.5vw;
}
.bt{
	font-weight: 900;
	text-align: center;
	padding-top: 1.3%;
	padding-bottom: 1.3%;
	margin-top: 100px;
	width: 15%;
	color: #fff;
	background: #f39c12;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25vw;
}
.bt:hover{
	opacity: 0.9;
}

.aur{
	height: 1250px;
}
.v_line{
	min-width: 0.4%;
	background: #f39c12;
}

.heading{
	font-size: 1.3vw;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: center;
	margin-top: 100px;
	color: #4c4c4c;
}
.heading h2{
	display: block;
	font-size: 2.3vw;
	font-weight: 600;
	margin-right: 1%;	
	color: #000;
}
.heading p{
	display: block;
	width: 880px;
	margin-left: 1%;
}
.kas{
	color: #fff;
}

.story{
	margin-top: 150px;
	width: 100%;
	display: flex;
	margin-bottom: 120px;
}
.story_left {
	display: flex;
}
.icon{
	width: 125px;
	height: 125px;
}
.red_story{
	line-height: 1.5;
	color: #e74c3c;
    font-size: 16px;
    margin-bottom: 19px;
    font-family: 'Open Sans', sans-serif;
}
.story_txt{
	line-height: 1.5;
	margin-right: 60px;
	margin-left: 30px;
}
.story_right img{
	max-height: 255px;
	max-width: 450px;
}

.g_b_line{
	background-color: #e6e6e6;
	width: 60%;
	height: 2px;
	margin-left: 20%;
	margin-bottom: 115px;
}

.parr{
	font-family: 'Open Sans', sans-serif;
    color: #737373;
    font-size: 16px;
}



.skills{
	width: 100%;
	display: flex;
}
.skills_left{
	margin-left: 1.2%;
	margin-right: 4.8%;
}
.skills_left img{
	width: 500px;
}
.skills_top{
	display: flex;
}
.skills_txt{
	margin-left: 1.5%;
	margin-bottom: 60px;
}
.skills_line{
	width: 100%;
}
.skills_line h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
}
.skills_line span{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #737373;
}
.prog_line{
	margin-top: 15px;
	margin-bottom: 33px;
	height: 10px;
	width: 100%;
	background-color: #e6e6e6;
}
.prog_line:last-child{
	margin-bottom: 0px;
}
.prog_line div{
	background-color: #f39c12;
	height: 10px;
}
.on_line_4{
	width: 71%;
}
.on_line_3{
	width: 81%;
}
.on_line_2{
	width: 76%;
}
.on_line_1{
	width: 88%;
}

.john{
	background: url(../img/simplicity.png) no-repeat;
	height: 700px;
}
.john .cent{
	height: 700px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 45px;
	flex-direction:column;
}
.skob{
	display: flex;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
}
.skob img{
	height: 25px;
	width: 45px;
	margin-left: 2%;
	margin-right: 2%;
}
.maeda{
	font-size: 24px;
}



.team{
	height: 870px;
	width: 100%;
}



.cent{
	margin-right: 20%;
	margin-left: 20%;
	width: 60%;
}
.g_line{
	margin-bottom: 20px;
	height: 5px;
	width: 50px;
	background: #f39c12;
}


.team{
	
	display: flex;
	flex-direction: column;
	width: 100%;
}
.team_content{
	margin-top: 150px;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.team_blok{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 20%;
	padding-top: 5px;
}
.team_blok:hover{
	background-color: #f0f0f0;
	padding-top: 0px;
}
.line_team_blok{
	height: 5px;
	width: 100%;
	background-color: #f39c12;
	display: none;
}
.team_blok:hover .line_team_blok{
	display: block;
}
.team_blok h4{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}
.hp{
	font-family: 'Lato', sans-serif;
	margin-top: 10px;
	font-size: 15px;
	color: #999999;
}
.team_blok p{
	font-size: 16px;
	margin: 15px;
	color: #737373;
}
.team_line{
	width: 20px;
	height: 5px;
	background-color: #cccccc;
}
.team_blok:hover .team_line{
	background-color: #e74c3c;
}
.team_img{
	width: 200px;
	margin: 20px;
}
.con_net {
	display: flex;
	justify-content: space-between;
}
.con_net img{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.facts_bg{
	background: url(../img/facts_bg.png) no-repeat;
}
.facts{
	display: flex;
	height: 700px;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: 600;
}
.facts img{
	width: 170px;
	margin-bottom: 30px;
}
.facts h4{
	font-size: 45px;
}
.facts p{
	font-size: 25px;
}


.service{
	height: 1350px;
}
.service_content{
	display: flex;
	justify-content: space-around;
}
.service_top_blok{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.service_top_blok h4{
	font-weight: 800;
	font-size: 20px;
	margin: 30px;
}
.service_top_blok img{
	margin-top: 160px;
	height: 110px;
	width: 110px;
}
.service_top_blok p{
	color: #737373;
	font-size: 16px;
}

.g_b_line_1{
	background-color: #e6e6e6;
	width: 100%;
	height: 2px;
	margin-bottom: 115px;
	margin-top: 125px;
	margin-bottom: 125px;
}
.service_pricing_left{
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	width: 25%;
	margin-right: 5%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.service_pricing_left h4{
	font-weight: 800;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.service_pricing_left img{
	height: 110px;
	width: 110px;
}
.service_pricing_left p{
	color: #737373;
	font-size: 16px;
}

.service_pricing_bottom{
	display: flex;
	justify-content: flex-start;
}
.service_pricing_right{
	height: 450px;
	width: 750px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 125px;
}
.blok_pricing{
	width: 210px;
}
.top_blok{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 120px;
	width: 100%;
	border: 1px solid #e6e6e6;
}
.top_blok div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.top_blok div h3{
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
	margin: 0px;
	color: #000;
}
.v_line_pricing{
	height: 2px;
	width: 50px;
	background-color: #f39c12;
	margin-bottom: 5px;
    margin-top: 8px;
}

.centr_blok div{
	height: 50px;
	width: 100%;
	border: 1px solid #e6e6e6;
}
.centr_blok div:nth-child(odd){
	background-color: #fafafa;
}
.centr_blok p {
	padding-top: 15px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #737373;
	text-align: center;
}

.bottom_blok{
	background-color: #fafafa;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100px;
	border: 1px solid #e6e6e6;

}
.bottom_blok a{
	text-transform: uppercase;
    color: #000;
    font-size: 16px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 10px 25px;
    border: 2px solid #f39c12;
    height: 20px;
    margin-top: 30px;
}
#gold_blok h3{
	font-size: 26px
	margin-top: 10px;
}
#gold_blok .centr_blok div{
	background-color: #f2f2f2;
}
#gold_blok .top_blok{
	height: 130px;
	background-color: #f39c12;
}
#gold_blok .top_blok h3{
	color: #fff;
}
#gold_blok .v_line_pricing{
	background-color: #fff;
	margin-bottom: -5px;
    margin-top: 5px;
}
#gold_blok .bottom_blok{
	height: 110px;
	background-color: #e6e6e6;
}
#gold_blok .bottom_blok a{
	margin-bottom: 10px;
}
#gold_blok .centr_blok div:nth-child(odd){
	background-color: #e6e6e6;
}
.bottom_blok a:hover{
	background-color:  #f39c12;
	color: #fff;
}

.maria{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 700px;
	background: url(../img/bg_maria.png) no-repeat;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
.maria h3{
	font-weight: 900;
	color: #fff;
	font-size: 24px;
	margin-bottom: 15px;
}
.maria p{
	width: 40%;
	text-align: center;
	font-size: 16px;
	margin-top: 10px;
}
.maria img{
	height: 100px;
	width: 100px;
	margin-top: 30px;
}



.portfolio{
	height: 2050px;
}
.portfolio_img{
	width: 100%;
	height: 580px;
	margin-top: 150px;
}
.top_portfolio{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
.top_portfolio h4{
	margin-bottom: 10px;
	font-weight: 600;
	color: #000;
	font-size: 20px;
	text-transform: uppercase;
}
.top_portfolio{
	color: #8c8c8c;
}
.control{
 display: flex;
 justify-content: center;
 margin-top: 50px;
 margin-bottom: 25px;
}
.control a img:last-child{
	padding: 10px;

}
.control a img{
	margin: 10px 7px;
	border: 1px solid #e6e6e6;
}	


.portfolio_menu {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 84px;
	font-family: 'Open Sans', sans-serif;
}
.portfolio_menu a{
	color: #000;
	margin-left: 2%;
	font-size: 14px;
	cursor: pointer;
}
.portfolio_menu p{
	font-size: 14px;
	margin-left: 2%;
	color: #000;
}
.portfolio_menu a:hover{
	color: #f39c12;
}
.portfolio_content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 80px;
}
.portfolio_content h5{
	text-transform: uppercase;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-weight: 600;
}
.portfolio_content p{
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	color: #8c8c8c;
	font-weight: 400;
	margin-bottom: 20px;
}
.blok_partfolio{
	max-width: 288px;
	margin: 0px;
	text-align: center;

}
.img_content_partfolio{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 288px;
	height: 220px;
	margin-bottom: 20px;
}
.img_content_partfolio img{
	position: relative;
}
.hover_img{
	opacity: 0.5;
	top: -220px;
	display: none;
}
.hover_plus{
	filter: saturate(300%);
	opacity: 0.6;
	top: -380px;
	display: none;
}
.blok_partfolio:hover #colorit{
	color: #f39c12;
}
.blok_partfolio:hover .hover_img{
	display: block;
}
.blok_partfolio:hover .hover_plus{
	display: block;
}
.hover_plus:hover{
	opacity: 1;
}

.tvit{
	background: url(../img/tvit_bg.png) no-repeat;
	height: 700px;
	display: flex;
	justify-content: center;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	align-items: center;
	color: #fff;
	flex-direction: column;
	font-size: 22px;
}
.tvit p{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
#cild{
	font-size: 15px;
	margin-top: 20px;
	color: #808080;
}
.tvit img{
	margin-bottom: 25px;
}
.tvit p a{
	font-family: 'Open Sans', sans-serif;
	color: #f39c12;
}
.tvit_box{
	width: 46%;
}

.blog{
	height: 1300px;
	width: 100%;
}
.blog_content{
	margin-top: 150px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.blog_box{
	height: 520px;
	width: 555px;
}
.blog_box img{
	height: 300px;
	width: 555px;
}
.img_txt{
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: flex-end;
	position: relative;
	top: -67px;
}
.img_txt h5{
	background-color: #fff;
	padding: 15px;
	font-size: 20px;
	text-align: center;
	color: #000;
}
.img_txt img{
	margin-top: 18px;
	height: 45px;
	width: 45px;
}
.txt_blog{
	position: relative;
	top: -45px;
	display: flex;
	justify-content: center;
}
.left_txt{
	color: #808080;
	margin-right: 10px;
	width: 95px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-align: right;
}
.right_txt{
	line-height: 1.5;
	color: #737373;
	width: 415px;
	font-size: 16px;
	margin-left: 20px;
}
.blog_box .bottom_blok{
	background-color: #fff;
	border: none;
	justify-content: flex-start;
	margin-left: 130px;
	position: relative;
	top: -50px;
}

.clients{
	background: url(../img/bg_maria.png) no-repeat;
	height: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.clients h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
	color: #fff;
	font-size: 30px;
	margin-bottom: 55px;
}
.clients_img{
	display: flex;
	justify-content: center;
}
.clients_img div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 160px;
	width: 250px;
	border: 2px solid #504749;
	margin: 25px;
}

.contact_form{
	height: 630px;
}
.form_box{
	margin-top: 150px;
	display: flex;
	justify-content: center;
}
.form h5{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
	margin-bottom: 35px; 
}
.form_txt h5{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
	margin-bottom: 35px;
}
.form_txt p{
	font-size: 15px;
	color: #737373;
	line-height: 1.5;
}
.form{
	width: 620px;
}
.form_txt{
	margin-left: 60px;
	width: 490px;
}
.contact-info{
	margin-bottom: 35px;
}
.form .bottom_blok{
	background-color: #fff;
	border: none;
	justify-content: flex-start;
}
.contact_icon div{
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 10px;
	display: flex;
}
.contact_icon div p{
	padding-top: 4px;
	margin-left: 20px;
}
.contact_icon div img{
	height: 34px;
	width: 34px;
}



.map{
	height: 600px;
	width: 100%;
	background: url(../img/map.png) no-repeat;
}

footer{
	height: 100px;
	width: 100%;
}
footer .cent{
	display: flex;
	justify-content: center;
}
.txt{
	margin-top: 40px;
	width: 50%;
	display: flex;
	justify-content: flex-start;
}
.con{
	margin-top: 40px;
	width: 50%;
	display: flex;
	justify-content: flex-end;
}
.con a{
	margin-right: 25px;
}
.txt p:last-child{
	padding-left: 5px;
	border-right: none;
}
.txt p{
	border-right: 1px solid #a6a6a6;
	padding-right: 5px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 300;
}

.form__inputs{
	display: flex;
	flex-direction: column;
}
.form__inputs input{
	font-family: 'Open Sans', sans-serif;
	height: 40px;
	width: 560px;
	border: 2px solid #d9d9d9;
	font-size: 15px;
	padding-left: 20px;
	color: #000;
	padding-right: 40px;
	background: url(../img/user_forms.png) no-repeat;
	background-position: 98% 50%;
	margin-bottom: 10px;
}
.form__inputs input:last-child{
	background: url(../img/mail_forms.png) no-repeat;
	background-position: 98% 50%;
}
form textarea{
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	background: url(../img/pen_forms.png) no-repeat;
	background-position: 98% 10%;
	padding-left: 20px;
	padding-right: 40px;
	width: 560px;
	height: 120px;
	border: 2px solid #d9d9d9;
	padding-top: 10px;
	padding-bottom: 10px;
}
.batton__block input{
	text-transform: uppercase;
    color: #000;
    font-size: 14px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 10px 25px;
    border: 2px solid #f39c12;
    width: 130px;
	height: 40px;
	background: #fff;
	color: #000;
	margin-right: 0;
	margin-top: 20px;
}
.batton__block input:hover{
	background-color:  #f39c12;
	color: #fff;
}




/*
@media screen and (max-width: 1919px) {
	.cent{
		margin-right: 18%;
		margin-left: 18%;
		width: 64%;
	}
}
@media screen and (max-width: 1799px) {
	.cent{
		margin-right: 16%;
		margin-left: 16%;
		width: 68%;
	}
}
@media screen and (max-width: 1694px) {
	.cent{
		margin-right: 14%;
		margin-left: 14%;
		width: 72%;
	}
}
@media screen and (max-width: 1599px) {
	.cent{
		margin-right: 12%;
		margin-left: 12%;
		width: 76%;
	}
}
@media screen and (max-width: 1516px) {
	.cent{
		margin-right: 8%;
		margin-left: 8%;
		width: 84%;
	}
}
@media screen and (max-width: 1371px) {
	.cent{
		margin-right: 4%;
		margin-left: 4%;
		width: 92%;
	}
	.h{
		font-size: 35px;
	}
	.h h1{
		font-size: 55px;
	}
	.bt{
	}
}
@media screen and (max-width: 1253px) {
	.cent{
		width: 100%;
	}
}